#sidebar{
    display:flex;
    padding:1rem;
    flex-direction: column;
    position: fixed;
    transition:0.4s;
    height:inherit ;
    width:0rem;
    background-color: rgba(244, 244, 244, 0.596);
    align-items: center;
}
.spanDiv{
    display:flex;
    gap:0.5rem;
    align-items: center;
    width:12rem;
    padding:0.4rem;
    border-radius: 9px;
}
.spanDiv:hover{
    cursor:pointer;
    background-color: rgba(211, 211, 211, 0.39);
}
.sidebarIcon{
    transition:0.3s;
    width:0rem;
}
.sidebarSpan{
    transition:0.2s;
    font-size: 0rem;
}

